# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Build (C++)
# ==============================
build/
x64/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.sln
*.vcxproj
*.filters
*.dir/

# ==============================
# Output Files
# ==============================
output/
*.mp4
*.csv
*.txt

# ==============================
# Data
# ==============================
data/

# ==============================
# Models (Large files)
# ==============================
#models/
#*.onnx
#*.pt

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db